/* -~-~-~- PROPERTIES -~-~-~- */

@property --bg-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #eee;
}

@property --primary-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #4c4c4c;
}

@property --secondary-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #7c7c7c;
}

@property --tertiary-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #ccc;
}

/* -~-~-~- GLOBAL STYLES -~-~-~- */

body {
	background-color: var(--bg-color);
	color: var(--primary-color);
	font: 400 1em 'Gotham', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
	block-size: 100svb;
}

main {
  display: flex;
  inline-size: 100%;
  block-size: 100%;

	&.left-aligned {
		flex-direction: row-reverse;
	}
}

input[type="number"] {
	min-inline-size: 50px;
}

input:is([type="checkbox"], [type="radio"]) {
	accent-color: var(--primary-color);
}

input[type="color"] {
	border-radius: 3px;
	block-size: 20px;
	inline-size: 20px;
	aspect-ratio: 1;

	&::-webkit-color-swatch-wrapper { padding: 0; }
	&::-webkit-color-swatch { border: none; }
}

select, label, legend {
	font-size: 0.875rem;
  text-wrap: nowrap;
}

select {
  display: block;
	border-radius: 4px;
	background-color: var(--primary-color);
	color: var(--bg-color);

	label > & {
		margin-block-start: 2px;
	}
}

legend,
:not(fieldset) > label {
  display: block;
  font-weight: 500;
}

legend { margin-block-end: 5px; }

button > span {
	pointer-events: none;
	color: inherit;
}

.stage,
.sidebar {
	display: grid;
}

.stage {
	flex: 1;
	grid-template-rows: auto 40px 60px;
}

.image-stitch {
	position: relative;
  display: flex;
}

.image-stitch > span,
.image-stitch-result,
.image-drop > p {
	pointer-events: none;
}

.image-stitch > span,
.image-stitch-result {
  position: absolute;
}

.image-stitch > span {
	display: block;
	top: 50%;
	left: 50%;
	translate: -50%;
	color: var(--secondary-color);
	font-size: 5em;
}

.image-stitch-result {
  block-size: 100%;
  inline-size: 100%;
  object-fit: contain;
  object-position: center;
  z-index: -1;

	&.portrait {
		flex-flow: column;
	}
}

.image-drop {
  flex: 1;
  display: inherit;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  color: #fff;
  transition: background-color 150ms, opacity 150ms;
}

.image-stitch.dragging-over > .image-drop {
  opacity: 1;
}

.image-stitch.dragging-over > .image-drop.dragging-over {
  background-color: rgba(0, 0, 0, 0.9);
}

.control-panel {
  display: inherit;
	grid-row: 2 / span 2;
  grid-template-rows: subgrid;
	grid-template-columns: repeat(12, 1fr);
	justify-content: center;
}

.single-control,
.crop-control,
.dual-control {
	display: flex;
	align-items: center;
}

.control-panel > div {
	grid-column-end: span 4;
}

.single-control,
.dual-control {
	justify-content: center;
}

.single-control { grid-row: 1; }

.control-panel button {
	display: grid;
	place-items: center;
	block-size: 100%;
	max-block-size: 40px;
	aspect-ratio: 1;
	background-color: var(--bg-color);

	&:disabled {
		color: var(--secondary-color);
	}
}

.single-control {
	&:nth-child(3) {
		grid-column-start: 9;
		flex-direction: row-reverse;
	}

	&.extended {
		grid-column: 1 / -1;
	}
}

.button-pair {
	display: inherit;
	flex-direction: row;
	block-size: 100%;
}

.crop-control {
	grid-column-start: 5;
}

.crop-control,
.dual-control {
	grid-column-start: 5;
}

.dual-control {
	grid-row: 2;
}

.sidebar {
	--spacing: 4%;
	position: relative;
	grid-column: 2;
	grid-auto-rows: min-content;
  align-content: center;
  gap: 20px;
	padding: 12px;
  min-inline-size: 261px;

	&::before {
		content: '';
		position: absolute;
		top: var(--spacing);
		width: 1px;
		height: calc(100% - var(--spacing) * 2);
		background-color: var(--tertiary-color);
	}

	.left-aligned > &::before {
		right: 0;
	}
}

.fit-options,
.save-options {
	display: inherit;
	grid-auto-flow: inherit;
	gap: inherit;
}

.fit-options > input[type="number"] {
	width: 42px;
}

.alignment-options {
	display: flex;
	align-items: center;
	block-size: 100%;
}

.save-options { grid-row: 2; }

fieldset {
	display: grid;
	gap: 5px;

	&:has(input:is([type="checkbox"], [type="radioset"])) {
		grid-template-columns: min-content auto;

		& > label {
			display: inherit;
			grid-column: 1 / -1;
			grid-template-columns: subgrid;
		}
	}

	&:is([name="alignment-options"], [name="background-color"]) {
		grid-auto-columns: min-content;
		grid-auto-flow: column;

		& > legend {
			grid-column: 1 / -1;
		}
	}
}

.save-buttons {
  display: inherit;
  grid-template-columns: 1fr 1fr;
}
